<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>icon</key>
		<string>ktv</string>
		<key>title</key>
		<string>KTV</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>zuliao</string>
		<key>title</key>
		<string>足疗按摩</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>xiyu</string>
		<key>title</key>
		<string>洗浴</string>
	</dict>
	<dict>
		<key>icon</key>
		<string></string>
		<key>title</key>
		<string>生日庆祝</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>lvyoushe</string>
		<key>title</key>
		<string>旅游社</string>
	</dict>
	<dict>
		<key>icon</key>
		<string></string>
		<key>title</key>
		<string>爱车</string>
	</dict>
	<dict>
		<key>icon</key>
		<string></string>
		<key>title</key>
		<string>其他</string>
	</dict>
</array>
</plist>
